<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/form.css" />
  </head>
  <body>
    <!-- views/form.ejs -->
    <form
      class="form loaded"
      id="form-project"
      method="post"
      ,
      action="/create-project"
    >
      <div class="field">
        <input
          type="text"
          placeholder="Project Name"
          name="name"
          id="project-name"
          required
        />
      </div>
      <div class="field">
        <input
          type="text"
          placeholder="Project Description"
          name="desc"
          id="project-name"
          required
        />
      </div>

      <div class="field">
        <input
          type="text"
          placeholder="Author"
          id="project-author"
          name="author"
          required
        />
      </div>

      <button class="form-btn" type="submit">Submit</button>
    </form>
  </body>
</html>
