body {
  font-family: "Lato", sans-serif;
  background: #2e3138;
  color: #fff;
  height: 90vh;
  background-image: url("/images/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.header {
  font-size: xx-large;
  text-align: center;
  padding: 5px;
  text-transform: uppercase;
  display: flex;
  align-self: center;
  font-weight: 600;
}

.wrapper {
  align-self: center;
  margin-right: 10px;
}

/* CSS for pop up modal */
.wrapper a {
  /* CSS for create issue link */
  text-decoration: none;
  padding: 10px;
  margin: 2px;
  background-color: #e95667;
  border-radius: 8px;
  text-transform: uppercase;
  color: #fff;
  font-size: large;
  font-weight: bold;
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, 0.7);
  transition: all 0.4s;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

/* start */
#issue-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
.modal__content {
  position: absolute;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  width: 50%;
  background-image: url("/images/modal-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.modal__content h1 {
  text-align: center;
  text-decoration: underline;
  text-underline-position: from-font;
}

.modal__close {
  position: absolute;
  right: 15px;
  top: 5px;
  font-size: 22px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
}
input:focus,
textarea:focus {
  outline: none;
  font-weight: bold;
  border-color: #246688;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-weight: bold;
}
textarea {
  width: 100%;
  height: 50px;
  resize: none;
}
.issue-form {
  display: flex;
  flex-direction: column;
}
.issue-form-labels {
  display: flex;
  align-items: baseline;
}

.issue-form-labels label {
  width: 100px;

  padding-right: 10px;
}

.issue-form-labels input,
.issue-form-labels .dropdown {
  flex: 1;
}

.dropdown {
  position: relative;
}

.dropdown-button {
  position: relative;
  display: flex;
  width: 12em;
  height: 3em;
  line-height: 3;
  background: #f2f2f2;
  overflow: hidden;
  border-radius: 0.25em;
  font-weight: 600;
}

.dropdown-button::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #2b2e2e;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
.dropdown-button:hover::after {
  color: #3bb8f2;
}

.dropdown-content {
  position: absolute;
  bottom: 140%;
  left: 0;
  background-color: #246688;
  z-index: 1;
  display: none; /* hide the content by default */
  width: 100%; /* set width to the full width of the parent element */
  max-height: 200px; /* set maximum height for the content */
  overflow-y: auto; /* enable vertical scrolling */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.dropdown-content::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 10px;
}
.dropdown-item-label {
  width: 80%;
}

.dropdown-item-label input {
  padding: 10px;
  border-radius: 5px;

  margin: 6px;
}
.dropdown-item-list {
  display: flex;
  flex-direction: column-reverse;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.form-btn {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
  align-self: center;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 600;
}

/* end */

.show {
  display: block;
}
.tag {
  display: none;
}
/* .tag {
  background-color: lightgray;
  padding: 5px;
  margin-right: 5px;
  display: inline-block;
} */

/* CSS for issue container */

.container {
  height: 73px;
  display: flex;
  color: #fff;

  background-color: #00101c;
  border-bottom: 1px solid white;
}

.main-container {
  display: flex;
  height: calc(100vh - 80px);
}

.filter-container {
  width: 20%;
  background-color: #246688;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 80px;
  bottom: 0;
  background-image: url("/images/modal-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.issue-container {
  width: 75%;
  padding-top: 6px;
  box-sizing: border-box;
  overflow-y: scroll;
  margin-left: 20%;
  padding-left: 5%;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.issue-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.issue-container-header {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  margin: 10px;
}

.issue-sub-container {
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* background-color: #246688; */
  border-radius: 15px;
  padding-left: 15px;
  background-image: url("/images/modal-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.issue-container-title {
  font-weight: bold;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #00101c;
  text-decoration: underline;
}
.issue-container-title::first-letter {
  font-size: x-large;
  font-weight: bold;
  color: #00101c;
}

.issue-container-desc {
  margin-bottom: 5px;
}

.issue-container-author {
  font-style: italic;
  margin-bottom: 5px;
}

.issue-container-labels {
  font-size: 14px;
  background-color: #f2f2f2;
  padding: 5px 10px;
  border-radius: 5px;
  color: #00101c;
  margin-top: 10px;
  font-weight: bold;
  width: fit-content;
}

@media only screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .main-container {
    display: flex;
    flex-direction: column;
  }

  .filter-container {
    position: relative;
    width: 100%;
    background-color: #f2f2f2;
    padding: 20px;
    box-sizing: border-box;
    background-image: url("/images/modal-background.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .issue-container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
}

/* filter section */

.filter-container-search {
  display: flex;
  flex-direction: column;
}

.filter-container-search input {
  width: unset;
}
