input {
  border: 0;
}
input::placeholder {
  color: #9b9797;
}
.field {
  margin-bottom: 1rem;
}
.form {
  padding-right: 1rem;
}
.form input {
  outline: 0;
  padding: 1.5rem 0rem;
  width: 100%;
}
.form input[type="text"] {
  width: 75%;
}

.form input {
  border: 1px solid #afabab;
  border-radius: 999px;
  background-color: transparent;
  text-align: center;
  font-size: 18px;
  color: #f5f5f5;
}

.form-btn {
  appearance: none;
  background-color: transparent;
  border: 2px solid #f5f5f5;
  border-radius: 30px;
  box-sizing: border-box;
  color: #f5f5f5;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50%;
  will-change: transform;
  width: 20rem;
}

.form-btn:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.form-btn:active {
  box-shadow: none;
  transform: translateY(0);
}

#form-project {
  opacity: 0;
  transform: translateY(-20px);
  transition: all 1s ease-in-out;
}

#form-project.loaded {
  opacity: 1;
  transform: translateY(0);
}

@keyframes slideIn {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }
  50% {
    transform: translateY(-20px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#form-project.slideIn {
  animation: slideIn 0.5s ease-in-out forwards;
}
