header {
  font-size: xx-large;
  text-align: center;
  margin-bottom: 1rem;
  padding: 5px;
  border-bottom: 1px dashed white;
}
h2 {
  font-size: xx-large;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.create-project {
  width: 50%;
  text-align: center;
  border-right: 1px solid white;
}

.list-projects {
  width: 50%;
  width: 50%;
  /* margin-left: 1rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-btn {
  appearance: none;
  background-color: transparent;
  border: 2px solid #f5f5f5;
  border-radius: 15px;
  box-sizing: border-box;
  color: #f5f5f5;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50%;
  will-change: transform;
}

.create-btn:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.create-btn:active {
  box-shadow: none;
  transform: translateY(0);
}

/* Lists css */

body {
  font-family: "Lato", sans-serif;
  background: #2e3138;
  color: #fff;
  height: 90vh;
}

ul {
  display: flex;
  flex-direction: column;
  padding: unset;
}

li {
  position: relative;
  display: block;

  margin-bottom: 5px;
  padding: 10px;
  text-align: start;
  text-transform: uppercase;
  animation: fadeIn 0.5s linear;
  animation-fill-mode: both;
  transition: 0.3s;
}

/* li:hover {
  border-bottom: 1px solid #f5f5f5;
  font-size: 20px;
  padding: unset;

  cursor: pointer;
} */

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    top: 100px;
  }
  75% {
    opacity: 0.5;
    top: 0px;
  }
  100% {
    opacity: 1;
  }
}
.project-details {
  display: flex;
  flex-direction: column;
  line-height: 1px;
  border: 1px solid white;
  border-radius: 15px;
  padding: 10px;
  width: 30vw;
  cursor: pointer;
  margin-bottom: 10px;
}

.clickable {
  display: flex;
  flex-direction: column;
}
.project-details-name {
  font-size: x-large;
  font-weight: 700;
  text-decoration: underline;
  text-underline-position: under;
}
.project-details-desc {
  margin-top: 2px;
  font-size: medium;
}

.project-details-auth {
  font-size: 12px;
}
